<div class="interface-container">
    <div class="containerSidebar">
        <div class="SidebarHome">
            <ul>
                <li class="buttonSidebar"> <a href="/read">CARGAR</a> </li>
                <li class="buttonSidebar"> <a href="/event">EVENTOS</a> </li>
                <li class="buttonSidebar"> <a href="/search">CONSULTAR</a> </li>
            </ul>
        </div>
        <div class="container-publisher-document">
            <p>Documento</p>
            <p><%= dateLaboDocument%> </p>
            <p>Fecha Lectura</p>
            <p><%= dateRead%> </p>
            <p>2023 San Juan de Dios 2023 ©</p>
        </div>
    </div>
    <div id="eventForm-container">
        <div>
            <form action="/event" method="post" id="form-search--event">
                <label for="Tipo">Tipo de documento</label>
                <select id="Tipo" name="Tipo" >
                    <option value="%.TXT">TXT</option>
                    <option value="%.CSV">CSV</option>
                </select>
                <label for="greaterEqual">Rango</label>
                <select id="greaterEqual" name="greaterEqual">
                    <option value="=">=</option>
                    <option value='&gt;&equals;'>&gt;&equals;</option>
                </select>
                <label for="fecha">Fecha de lectura</label>
                <input type="date" id="fecha" name="fecha" required class="datepicker-input">
                <input type="submit" value="Consultar">
            </form>
        </div>
        <div class="table-container">
            <table id="myTable" >
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>DOCUMENTO</th>
                        <th>FECHA</th>
                    </tr>
                </thead>
                <tbody id="tableBody">
                    <% dataLogRead.forEach(item => { %>
                        <tr>
                            <td><%= item.NU_HIST_PAC%></td>
                            <td><%= item.DOCUMENTREAD%></td>
                            <td><%= item.DATEUPLOAD%></td>

                        </tr>
                    <% }); %>
                </tbody>
            </table> 
        </div>
    </div>
    </div>
    <div class="buttonLogout">
    <form action="/logout" method="GET" id="formClosedSesion">
        <button type="submit" class="buttonLogout">Exit</button>
    </form>
</div>
